@import "tailwindcss";
@keyframes projects-slide-fast {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-projects-slide-fast {
  animation: projects-slide-fast 15s linear infinite;
}
/* ===== SCROLL FADE UP ===== */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp 0.9s ease forwards;
}

/* ===== IMAGE ZOOM ===== */
.image-hover {
  transition: transform 0.6s ease;
}
.image-hover:hover {
  transform: scale(1.08);
}

/* ===== PROJECT SLIDER ===== */
@keyframes projects-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-projects-slide-fast {
  animation: projects-slide 22s linear infinite;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out;
}
